body {
    margin: 0;
}

.indicator {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px #666 solid;
    margin: 0;
}
  
.indicator.active {
    color: #fff;
    background: #666;
}

.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 700px;
}
  
.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.slide-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.slide-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 300ms;
}

.slide-exit {
    opacity: 1;
    transform: translateX(0%);
}

.slide-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 300ms, transform 300ms;
}
  